<div class="container-fluid">
    <br>
    <br>
    <div class="col-md-3">
    <h3><strong>Add A New Recipe</strong></h3>
    </br>
    <label>Recipe Name: </label>
    <input class="form-control"
           type="text"
           placeholder="Recipe Name" ng-model="searchRecipe.name"
           typeahead="recipe.name for recipe in recipes | filter:$viewValue | limitTo:8">
    <br>
    <br>
     <label>Author: </label>
    <input class="form-control"
           type="text"
           placeholder="Who created or showed you this recipe?"
           ng-model="searchRecipe.author"
           typeahead="recipe.author for recipe in recipes | filter:$viewValue | limitTo:8">
    <br>
    <br>
    <label> Simple Description: </label>
    <input class="form-control"
           type="text"
           placeholder="1 line description of recipe"
           ng-model="searchRecipe.description"
           typeahead="recipe.description for recipe in recipes | filter:$viewValue | limitTo:8">
    <!--<input type="text" ng-model="recipe.description">-->
    <br>
    <br>
    <label> UPLOAD IMAGE:...... </label>
    <br>
    <br>
    <label> Time: </label>
    <input class="form-control"
           type="text"
           ng-model="recipe.cook_time"
           placeholder="Total amount of time to prepare and cook this recipe?">
    <br>
    <br>


<!--          <label>Tags</label>
          <form ng-submit="saveTag(tagName)">
        <input class="form-control form-inline"
               type="text"
               placeholder="Enter an Tag"
               ng-model="searchTag.name"
               typeahead="tag.name for tag in tags | filter:$viewValue | limitTo:8">
        <button ng-click="saveTag(tagName)">Add Tag</button>
         </form>

      <span ng-repeat="tag in recipe.tags"
           class="btn btn-sm btn-info label"
           ng-click="removeTag(tag)"
           ng-class-even="'label-info'"
           ng-class-odd="'label-danger'"
           ng-bind="tag.name"></span>  -->

                <label>Tags</label>
                <form ng-submit="saveTag(tagName)">
                    <input id="tag-input"
                       class="form-control form-inline"
                       type="text"
                       ng-model="tagName"
                       typeahead="tag.name for tag in tags | filter:$viewValue | limitTo:8"
                       placeholder="Enter a Tag">
                </form>
                <div>
                    <button ng-repeat="tag in recipe.tags"
                            ng-bind="tag.name"
                            ng-click="removeTag(tag)"
                            class="btn btn-sm btn-info label"
                            ng-class-even="'label-info'"
                            ng-class-odd="'label-success'">
                    </button>
                </div>
</br>
                <label>&nbsp;</label>
                <button ng-click="saveTag(tagName)"
                        class="add-tag-button btn btn-sm btn-info">Add Tag
                </button>
         </div>


    <!--<select multiple
            ng-model = "recipe.ingredients"
            ng-options="ingredient.id as ingredient.name for ingredient in ingredients"></select>-->
    <div class="col-md-4">
    <h3><strong>Ingredient List</strong></h3>
    </br>
    <label>Amount:</label>
    <input class="form-control" type="text" placeholder="Enter an Amount">
    <label>Measurement:</label>
    <input class="form-control" type="text" placeholder="Enter a Measurement">
    <label> Ingredient:</label>
    <input class="form-control" type="text" placeholder="Enter an Ingredient" ng-model="searchIngredient.name" typeahead="ingredient.name for ingredient in ingredients | filter:$viewValue | limitTo:8">
    <br>
    <br>
    </br>
    </br>

    <h3><strong>Selected Ingredient List</strong></h3>
   <ol>
       <li ng-repeat="ingredientId in recipe.ingredients">
        <p ng-bind="getIngredientName(ingredientId)">
        </p>
        <i class="glyphicon glyphicon-remove-circle"></i>
       </li>
   </ol>

    <br>
    <br>
        </div>


<!--Start ingredient markup -->

    <hr>
     <div class="col-md-4">
         <span>
            <input class="form-control"  type="text" ng-model="ingredientName" placeholder="Enter an Ingredient">
            <input class="form-control"  type="text" ng-model="glycemicIndex" placeholder="Enter Glycemic Index">
                <button ng-click="saveIngredient(ingredientName)">Add Ingredient</button>
                 <ol>
                     <li ng-repeat="ingredient in recipe.ingredients">
                         <span ng-bind="ingredient.name"></span>
                     </li>
                </ol>
        </span>
    </div>
    <hr>
<!--End ingredient markup -->


<div class="col-md-5">
      <h3><strong>Directions</strong></h3>
      <label> Detailed Recipe Directions </label>
    <input class="form-control"  placeholder="Enter Detailed Recipe Directions"ng-model="recipe.description">

     <br>
    <br>

          <label> Note: </label>
    <input class="form-control"  type="text" ng-model="recipe.description" placeholder="** This recipe was originally made by your great great great...">
     <br>
    <br>
<button class="btn btn-sm btn-success" ng-click="saveNewRecipe()"> + Recipe</button>

 <br>
    <br>
<button class="btn btn-sm btn-info">Share My Recipe!</button>
     <br>
    <br>
<button class="btn btn-sm btn-primary">Don't Share Recipe!</button>

    <br>
    <br>
    {{ item }}
    <br>
    <br>

    <p>{{ recipe }}</p>

    <p>{{ status }}</p>
        </div>
</div>
