
<div class="text-center">

<label> Recipe Name</label>
<input type="text" ng-model="recipe.name">
<br>
<br>
<label> Recipe Cook-Time</label>
<input type="text" ng-model="recipe.cook_time">
<br>
<br>
<label> Recipe Description</label>
<input type="text" ng-model="recipe.description">
<br>
<br>
<label> Recipe Cook-Method</label>
<select ng-model="recipe.cook_method"
        ng-options="method.stored_name as method.printed_name for method in methods">
</select>
<br>
<br>
<button class="btn btn-danger btn btn-xs fa fa-trash-o" ng-click="deleteRecipe()">Delete Recipe</button>
<button class="btn btn-info btn btn-xs fa fa-check-circle" ng-click="editRecipe()">Edit Recipe</button>
</div>

<br>
<br>
{{recipe}}
<br>
<br>
<p>{{status}}</p>