<form class="navbar-form navbar-right" role="form">
    <div class="form-group">
        <input class="form-control" type="text" ng-model="search" placeholder="Search">
</form>
</div>
<a class="btn btn-md btn-info" href="#/add-recipe">Add a Recipe</a>

<button ng-click="filterFavorites()"
        class="btn btn-md btn-info">
    <i class="glyphicon glyphicon-star"></i>
</button>
</form>
<br><br><br>

<div class="recipe-card"
     ng-repeat="recipe in recipes | favoritesFilter:favoriteUser | filter:search">
    <div>
        <a href="#/recipe-details/{{ recipe.id }}" class="recipe-title">{{ recipe.name }}</a>

        <i ng-show="ifFavorited(recipe)"
           class="glyphicon glyphicon-star"
           style="font-size:1.5em;"
           ng-click="unfavorite(recipe)"></i>

        <i ng-show="!ifFavorited(recipe)"
           class="glyphicon glyphicon-star-empty"
           style="font-size:1.5em;"
           ng-click="favorite(recipe)"></i>

        <a href="#/edit-recipe/{{ recipe.id }}">
            <button class="btn btn-xs btn-info edit-button">Edit</button>
        </a>
    </div>

    <div class="recipe-card-info">
        <div><img class="recipe-thumbnail" src="{{ recipe.photo }}"/></div>

        <p><strong>Cook Time:</strong> {{ recipe.cook_time }}</p>

        <p><strong>Description:</strong> {{ recipe.description }}</p>
            <span ng-repeat="tag in recipe.tags"
                  class="label label-success"
                  ng-bind="tag.name">
            </span>
    </div>
</div>
</div>