/* app css stylesheet */
body {
    padding-top: 50px;
    background-image: url('../img/purty_wood.png');
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
    background-image: url('../img/lined_paper.png');
    box-shadow: 0 1px 15px rgba(34,25,25,0.7);
    -moz-box-shadow: 0 1px 15px rgba(34,25,25,0.7);
    -webkit-box-shadow: 0 1px 15px rgba(34,25,25,0.7);
}

.spacersmall-bottom {
    padding-bottom: 20px;
}

.spacersmall-top {
    padding-top: 20px;
}

.white-background {
    background-color: floralwhite;

.btn-primary {
    background-color: #222222;
    color: #999999;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #222222;
    border-color: #222222;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #999999;
    background-color: #222222;
    border-color: #222222;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.block {
display: inline-block;
background: #FEFEFE;
border: 2px solid #FAFAFA;
box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
margin: 0 10px 15px ;
}


.block-info {
    background-color: #e6e6e6;
    padding: 15px;
    width: 100%;
}
