/* app css stylesheet */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: auto;
    width: 90%;
    background-image: url('../img/purty_wood.png');
    background-attachment: fixed;
}


/* ~~ BUTTONS ~~ */

.btn-primary {
    background-color: #222222;
    color: #999999;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #222222;
    border-color: #222222;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #999999;
    background-color: #222222;
    border-color: #222222;
}


/* ~~ FORMS ~~ */

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}



/* ~~ NAVBAR ~~ */

.navbar-inverse {
    border: none;
}

.navbar-nav {
    float: right;
}

.navbar-inverse .navbar-nav>li>a:hover {
    -webkit-transition:all 0.25s ease;
    -moz-transition:all 0.25s ease;
    -o-transition:all 0.25s ease;
    transition:all 0.25s ease;
    background-color: #000000 ;
    box-shadow: inset 0 0 15px #147A49;

}

.navbar-nav li {
    font-size: 1.3em;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

.navbar {
    background-color: -webkit-linear-gradient(#100000, #380000, #500000, #600000); /* For Safari 5.1 to 6.0 */
    background-color: -o-linear-gradient(#100000, #380000, #500000, #600000); /* For Opera 11.1 to 12.0 */
    background-color: -moz-linear-gradient(#100000, #380000, #500000, #600000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#100000, #380000, #500000, #600000); /* Standard syntax */
    box-shadow: 0 1px 15px #1E1E1E;
    -moz-box-shadow: 0 1px 15px #1E1E1E;
    -webkit-box-shadow: 0 1px 15px #1E1E1E;
    opacity: .85;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 1.85em;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #18965A;
    box-shadow: inset 0 0 15px #147A49;
}

.navbar-inverse .navbar-nav>a:hover {
    -webkit-transition:all 0.25s ease;
    -moz-transition:all 0.25s ease;
    -o-transition:all 0.25s ease;
    transition:all 0.25s ease;
    background-color: #18965A;
}



/* ~~ GENERAL CSS ~~ */

.starter-template {
    padding: 5px;
    text-align: left;
    background-color: #ffffff;
}

.recipe-card {
    display: inline-block;
    background: #fefefe;
    border: 2px solid #fafafa;
    box-shadow: 8px 8px 20px #1E1E1E;
    margin: 0 17px 45px;
    padding-top: 5px;
    width: 30%;
    vertical-align: top;
    border-radius: 10px;
}

.recipe-title {
    font-size: 1.5em;
    padding-left: 10px;
}

.recipe-card-info {
    background-color: #e6e6e6;
    margin-top: 5px;
    padding: 15px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.edit-button {
    float: right;
    margin-right: 5px;
    margin-top: 3px;
}

.label {
    margin: 0 0 3px 3px;
}

.recipe-thumbnail {
    width: 100%;
    margin: 0 auto 15px;
}

